@use '../../styles.scss' as *;

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.04);
}

.admin-list { 
  margin-top: 1rem;
}
