version: '3.8'
services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    env_file: .env
    ports:
      - '1433:1433'
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test:
        [
          'CMD',
          '/opt/mssql-tools/bin/sqlcmd',
          '-S',
          'localhost',
          '-U',
          'sa',
          '-P',
          '${SA_PASSWORD}',
          '-Q',
          'SELECT 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  mssql-data:
